extends layout

block content
  h1= title

  p Word List
  
  .container
  form(method="post" action="/")
    input(type="text" name="Word" placeholder="Word")
    input(type="text" name="Language" placeholder="Language")
    input(type="text" name="Gender" placeholder="Language")
    button(type="submit") Submit
