

<body>

    <form class="form">
        <input name = "word" type = "text" placeholder="word">
        <input name = "langauge" type = "text" placeholder="word">
        <input name = "Gender" type = "text" placeholder="word">

        <button> type = "submit" >Submit</button>
    </form>

    <script>
        const formE1 = document.querySelector('.form')
        formE1.addEventListener('submit', () => {
            event.preventDefault();
        });

    </script>

</body>

// IGNORE, I WAS FIGURING OUT PUG