extends ../layout

block content
    form(method="post" action="/vocabulary/word").container
      input(type="text" name="word" placeholder="Word")
      input(type="text" name="language" placeholder="Language")
      input(type="text" name="gender" placeholder="Gender")
      button(type="submit") Submit
